<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p class="about para">Welcome to Blog Away - Where Your Voice Finds Its Home

      At Blog Away, we believe that everyone has a story to tell, and we are passionate about providing the platform to share it. Our mission is to empower writers, creators, and thinkers by offering an intuitive and feature-rich blogging platform that caters to both beginners and seasoned bloggers alike.</p> 
      <p class="about para">Whether you're a seasoned blogger or just starting out, [Your Company Name] is here to help you share your voice with the world. Join our growing community of creators and let your words make an impact.

      Start your blogging journey with Blog Away today.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>